<div class="center jumbotron">
  <h1 class="display-4">Alpha blog</h1>
  <p class="lead">This is a simple aplha blog website, you can create,edit and delete articles easily.</p>
  <hr class="my-4">
  <p>Implemented using Ruby on rails.</p>
<%= link_to 'Sign up' ,"#",class:"btn btn-danger btn-lg btn-xlarge"   %>
</div>
